<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CO2-App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  {% endblock %}
</head>
<body>
  <div>
    <nav class="navbar">
      <ul class="nav--list">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/report">Report</a></li>
        <li class="item"><a href="/predict">Predict</a></li>
        <li class="item"><a href="/model">Model</a></li>
        <li class="item"><a href="http://co2-md.francecentral.cloudapp.azure.com/projects/CO2/flow/">DataIku</a></li>
        <li class="item"><a href="https://github.com/data-IA-2022/CO2_Manuel_David">GitHub</a></li>
      </ul>
    </nav>
  </div>
  <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
</body>
</html>

