{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1 class='title'>Réduction des émissions de Co2 à Seattle</h1>
  <p>
    Ce projet a pour objectif de réaliser une étude sur les émissions et la consomation
    des batîments de la ville de Seattle. <br> Puis d'utiliser un algorithme de machine
    learning afin de prédire celles-ci.
  </p>
  <div class="image-container">
    <img 
      src="https://www.guidesulysse.com/images/destinations/iStock_000056848050_Full.jpg" 
      alt="Seatlle"
    >
  </div>
{% endblock %}